@using Blazored.Typeahead
@using ChaldeaCommon.Extensions
@using ChaldeaCommon.Data
@using BlazorStrap

<BSModal IsOpen="@IsOpen" NoBackdrop="true" Class="@ModalClass">
    <BSModalHeader OnClick="Cancel">
        New Material
    </BSModalHeader>
    <BSModalBody>
        <div class="col-sm-8 col-md-8">
            <div class="form-group">
                <label>Item</label>
                <BlazoredTypeahead SearchMethod="@SearchForMaterials"
                                   @bind-Value="@material">
                    <SelectedTemplate>
                        @context.GetMaterialLabel()
                    </SelectedTemplate>
                    <ResultTemplate>
                        <img src="/Assets/@(context).png" /> @context.GetMaterialLabel()
                    </ResultTemplate>
                </BlazoredTypeahead>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" @bind="@quantity" />
            </div>
        </div>
    </BSModalBody>
    <BSModalFooter>
        <button type="button" @onclick="@Cancel" class="btn btn-danger">Cancel</button>
        <button type="button" @onclick="@OnAddMaterialToGoal" class="btn btn-success" disabled="@CannotAddMaterial">Save</button>
    </BSModalFooter>
</BSModal>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public Action<string, int> AddMaterialToGoal { get; set; }

    [Parameter]
    public Action CloseModal { get; set; }

    private string ModalClass => IsOpen ? "show" : "";

    private bool CannotAddMaterial => string.IsNullOrWhiteSpace(material) || quantity <= 0;

    private string material;

    private int quantity = 0;

    protected Task<IEnumerable<string>> SearchForMaterials(string query)
    {
        query = query.ToLower();
        return Task.FromResult(Materials.GetMaterials()
            .Where(x => x.ToLower().Contains(query) || x.GetMaterialLabel().ToLower().Contains(query)));
    }

    protected void OnAddMaterialToGoal()
    {
        AddMaterialToGoal?.Invoke(material, quantity);

        material = "";
        quantity = 0;
        IsOpen = false;
    }

    protected void Cancel()
    {
        material = "";
        quantity = 0;

        CloseModal?.Invoke();
    }
}
