@using ChaldeaCommon.Enums

    <select value="@CurrentClass" class="form-control" @onchange="@OnChange">
        <option disabled value="">Please Select</option>
        <option value="@ServantClass.Saber">Saber</option>
        <option value="@ServantClass.Archer">Archer</option>
        <option value="@ServantClass.Lancer">Lancer</option>
        <option value="@ServantClass.Rider">Rider</option>
        <option value="@ServantClass.Caster">Caster</option>
        <option value="@ServantClass.Assassin">Assassin</option>
        <option value="@ServantClass.Berserker">Berserker</option>
        <option value="@ServantClass.Extra">Extra</option>
    </select>

@code {
    [Parameter]
    public ServantClass? CurrentClass { get; set; }

    [Parameter]
    public Action<ServantClass> ChangeData { get; set; }

    void OnChange(ChangeEventArgs eventArgs)
    {
        ChangeData?.Invoke((ServantClass)Enum.Parse(typeof(ServantClass), eventArgs.Value.ToString()));
    }
}
