@page "/servants"

@using ChaldeaCommon.Models;
@using ChaldeaOrganizer.Pages.Components;
@using ChaldeaCommon.Interfaces;

@inject IDataService<GameData> GameDataService

<h3>Servants</h3>

<div style="padding:15px">
    <div class="row">
        @if (GameData.Servants != null)
        {
            foreach((Servant servant, int i) in GameData.Servants.Select((servant, i) => (servant, i)))
            {
                <div class="col-sm-12 col-md-6" style="padding-top:10px; padding-bottom:10px">
                    <ServantComponent
                                      Servant="@servant"
                                      Key="@i"
                                      DeleteServant="@RemoveServant"
                                      Inventory="@GameData.Inventory"
                                      CompleteGoal="@RemoveGoal"
                                      />
                </div>
            }
        }
    </div>
</div>

@code {
    GameData GameData;

    protected override async Task OnInitializedAsync()
    {
        GameData = await GameDataService.RetrieveData();
    }

    protected void RemoveServant(int index)
    {
        if (index >= 0 && index < GameData.Servants.Count)
        {
            GameData.Servants.RemoveAt(index);

            StateHasChanged();
        }
    }

    protected void RemoveGoal(int servantIndex, int goalIndex)
    {
        foreach(var mat in GameData.Servants[servantIndex].Goals[goalIndex].Materials)
        {
            GameData.Inventory[mat.Key] -= mat.Value;
        }
        GameData.Servants[servantIndex].Goals.RemoveAt(goalIndex);
        StateHasChanged();
    }
}
