@page "/servants"

@using ChaldeaOrganizer.Pages.Components
@using ChaldeaOrganizer.Models
@using ChaldeaCommon.Models
@using ChaldeaCommon.Interfaces
@using ChaldeaCommon.Enums

@inject IDataService<GameData> GameDataService

<h3>Servants</h3>

<div style="padding:15px">
    <div class="row">
        <ServantClassDropdown ChangeData="@SetFilter"
                              CurrentClass="@FilterClass" />
        <button class="btn btn-secondary" @onclick="@ClearFilter">Clear</button>
    </div>
    <div class="row">
        @if (GameData.Servants != null)
        {
            foreach ((Servant servant, int i) in GameData.Servants.Where(ServantMatchesFilter).Select((servant, i) => (servant, i)))
            {
                <div class="col-sm-12 col-md-6" style="padding-top:10px; padding-bottom:10px">
                    <ServantComponent Servant="@servant"
                                      Key="@i"
                                      DeleteServant="@RemoveServant"
                                      Inventory="@GameData.Inventory"
                                      CompleteGoal="@RemoveGoal"
                                      ChangeInventoryMat="@ChangeInventoryMat"
                                      AddMaterialToGoal="@OnAddMaterial"
                                      SaveData="@SaveGameData" />
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <input @bind="@newServantName" class="form-control" />
        </div>
        <div class="col-sm-12 col-md-4">
            <button type="button" class="btn btn-secondary" disabled="@CannotAddNewServant" @onclick="@AddServant">New Servant</button>
        </div>
    </div>
</div>

@code {
    GameData GameData;
    string newServantName;

    private bool CannotAddNewServant => string.IsNullOrWhiteSpace(newServantName) || GameData.Servants.Any(s => s.Name == newServantName);

    private ServantClass? FilterClass;

    protected override async Task OnInitializedAsync()
    {
        await GetGameData();
    }

    protected void RemoveServant(int index)
    {
        if (GameData.Servants.ElementAtOrDefault(index) != null)
        {
            GameData.Servants.RemoveAt(index);

            StateHasChanged();

            GameDataService.SaveData(GameData);
        }
    }

    protected void RemoveGoal(ServantGoalArgs args)
    {
        if (GameData.Servants.ElementAt(args.ServantId) != null
            && GameData.Servants[args.ServantId].Goals.Any(x => x.Name == args.GoalName))
        {
            var goal = GameData.Servants[args.ServantId].Goals.First(x => x.Name == args.GoalName);
            foreach (var mat in goal.Materials)
            {
                GameData.Inventory[mat.Key] -= mat.Value;
            }
            GameData.Servants[args.ServantId].Goals.Remove(goal);

            GameDataService.SaveData(GameData);
        }
    }

    protected void ChangeInventoryMat(MaterialQuantityChangedArgs args)
    {
        // Check that mat exists
        if (args.Quantity >= 0)
        {
            GameData.Inventory[args.Material] = args.Quantity;
            StateHasChanged();
            GameDataService.SaveData(GameData);
        }
    }

    protected void AddServant()
    {
        if (!CannotAddNewServant)
        {
            var newServant = new Servant()
            {
                Goals = Enumerable.Range(1, 4).Select(x => new Goal()
                {
                    Name = $"Ascension {x}",
                    Materials = new Dictionary<Material, int>()
                }).ToList(),
                Name = newServantName
            };

            GameData.Servants.Add(newServant);
            newServantName = "";
            GameDataService.SaveData(GameData);
        }
    }

    protected void OnAddMaterial(ServantGoalMaterialChangeArgs args)
    {
        if (GameData.Servants.ElementAtOrDefault(args.ServantId) != null
            && GameData.Servants[args.ServantId].Goals.Any(x => x.Name == args.GoalName))
        {
            GameData.Servants[args.ServantId].Goals.First(x => x.Name == args.GoalName).Materials[args.Material] = args.Quantity;
            GameDataService.SaveData(GameData);
        }
    }

    protected void SaveGameData()
    {
        GameDataService.SaveData(GameData);
    }

    protected async Task ClearFilter()
    {
        FilterClass = null;

        await GetGameData();
    }

    protected async Task SetFilter(ServantClass servantClass)
    {

        FilterClass = servantClass;

        await GetGameData();
    }

    protected async Task GetGameData()
    {
        GameData = await GameDataService.RetrieveData();

        StateHasChanged();
    }

    bool ServantMatchesFilter(Servant s)
    {
        return FilterClass == null ? true : s.Class == FilterClass;
    }
}